body{
	background-color: #4D8FD1;
	color: white;
	font-family: 'Roboto', sans-serif;
}
img {
	height: 35px;
	display: block;
	margin: 60px auto;
}
form{
	width: 400px;
	border: 2px;
	color: black;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
	background-color: white;
	border-radius: 5px;
}
h1 {
	text-align: center;
}
input {
	display: block;
	margin: 15px 0;
	height: 55px;
	border: 2px solid #D1D1D1;
	width: 100%;
	background-color: #F1F1F1;
	font-size: 20px;
	text-indent: 10px;
	border-radius: 5px;
}
.email, .password {
	font-weight: bold;
}
.existing {
	text-align: center;
}
.login {
	color: white;
}
button {
	display: block;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
	height: 55px;
	width: 100%;
	font-size: 20px;
	border: 2px;
	padding: 15px;
	background-color: #5EAD5E;
	border-radius: 5px;
	color: white;
}
button:hover {
	background-color: #008700;
}
.forgot {
	color: #D1D1D1;
	text-align: center;
}